:root {
    font-family: "Asap Condensed", sans-serif;
    --background-color-dark: #333;
    --background-color-light: #eee;
    --font-color-dark: #000;
    --font-color-light: #fff;
    --img-invert--dark: 5%;
    --img-invert--light: 95%;
}
.dark-mode {
    --background-color: var(--background-color-dark);
    --font-color: var(--font-color-light);
    --img-invert: var(--img-invert--light);
}
.light-mode {
    --background-color: var(--background-color-light);
    --font-color: var(--font-color-dark);
    --img-invert: var(--img-invert--dark);
}
body {
    height: 100vh;
}
.app__container {
    height: 100%;
}
.app__sidebar {
    position: relative;
    width: 25%;
    height: 100%;
    padding: 1rem;
}
.app__dashboard {
    width: 75%;
    padding: 1rem;
    height: 100%;
}
