@mixin flex-row {
   display: flex;
   flex-direction: row;
}
.login__container {
   @include flex-row();
   font-size: clamp(0.8rem, 0.4rem + 1vw, 1.6rem);
   justify-content: space-around;
   margin: 5vw calc(1rem + 3vw);
   padding: 5rem 0;
   color: var(--font-color);
}
.login__instance--2 {
   display: none;
}
.login__instance--1 {
   display: flex;
   flex-direction: column;
   gap: calc(40px + 2vw);
   width: 80%;
}

.login__title {
   h1 {
      font-size: 3em;
      line-height: 1.5em;
   }
}
.login__inputplace {
   display: flex;
   flex-direction: column;
   gap: calc(30px + 1vw);
   h2 {
      font-size: 1.2em;
   }
}
h2 > span {
   color: red;
}
.login__username,
.login__password {
   display: flex;
   flex-direction: column;
   gap: calc(5px + 0.8vw);
}
.login__password h3 {
   font-size: 0.6em;
   font-weight: 400;
   text-decoration: underline;
   color: var(--primary-color);
   text-align: right;
}
.login__input[type="text"],
.login__input[type="password"] {
   width: 100%;
   background: transparent;
   border-radius: 25px;
   padding: 0.5rem;
   border: 1px solid var(--font-color);
   color: var(--font-color);
}
.login__input::placeholder {
   color: var(--font-color);
}
.login__input:focus {
   background-color: var(--background-color-400);
   border: 1px solid var(--primary-color);
}

.login__submit {
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: calc(5px + 0.5vw);
}
.login__button {
   text-align: center;
   background-color: var(--primary-color);
   padding: 0.3rem;
   border-radius: 30px;
   h3 {
      color: #fff;
   }
   filter: brightness(95%);
}
.login__register__now {
   a {
      text-decoration: underline;
      color: var(--primary-color);
   }
}

@media (width >=768px) {
   .login__container {
      padding: 0;
   }
   .login__instance--1 {
      width: 35%;
   }
   .login__inputplace {
      gap: calc(5px + 3vw);
      h2 {
         font-size: 0.8em;
      }
   }
   .login__input[type="text"],
   .login__input[type="password"] {
      padding: 1rem;
   }
   .login__instance--2 {
      display: flex;
      align-items: center;
      img {
         max-width: calc(300px + 15vw);
         filter: contrast(90%);
      }
   }
}
