:root {
    --font-size-desktop: 1.2rem;
    --font-size-mobile: 0.8rem;
}
@mixin padding-default {
    $padding-calc: calc(0.1rem + 3vw);
    padding: 2vw $padding-calc;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
.is__desktop {
    display: none;
}
.landing__header__container {
    @include flex-row();
    @include padding-default();
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Montserrat";
    transition: 0.25s ease-in-out;
}
.landing__logo__title {
    @include flex-row();
    align-items: center;
    gap: 1vw;
    p {
        font-weight: 800;
        font-size: calc(0.6rem + 1vw);
    }
    img {
        height: calc(10px + 1.4vw);
    }
}
header {
    @include flex-row();
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
nav {
    @include flex-row();
    align-items: center;
    gap: calc(5px + 5vw);
}
p {
    font-size: var(--font-size-mobile);
}
.landing__nav--mobile {
    img {
        height: 20px;
        filter: invert(var(--img-invert));
    }
}
@media (768px <= width) {
    .is__desktop {
        display: block;
    }
    .is__mobile {
        display: none;
    }
    .landing__nav--desktop {
        display: flex;
        font-size: var(--font-size-desktop);
        ul {
            display: flex;
            gap: 30px;
        }
        li {
            list-style: none;
        }
        p {
            font-size: var(--font-size-desktop);
        }
        a {
            text-decoration: none;
            color: var(--font-color);
            font-weight: 600;
        }
    }
}
