@mixin fbp {
    display: flex;
    justify-content: space-between;
    padding: 1vw calc(1rem + 1vw);
    height: 10%;
    border-bottom: 1px solid var(--font-color);
}
.main__content__container {
    height: 91.5vh;
    font-size: clamp(0.8rem, 0.4rem + 1vw, 1.6rem);
    display: flex;
    background-color: var(--background-color-700);
    color: var(--font-color);
}
.main__selector {
    display: none;
}
.main__display {
    width: 100%;
    border: 1px solid var(--font-color);
}
.main__selector__workspace {
    @include fbp();
}
.main__avatar {
    display: flex;
    align-items: center;
}
.main__workspace {
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
    width: 77.5%;
    h5 {
        font-size: 0.75em;
    }
}
.main__workspace__plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h6 {
        font-size: 0.5em;
        font-weight: 400;
    }
    span {
        font-size: 0.5em;
        font-weight: 400;
        padding: 0.25em 0.5em;
        background-color: var(--primary-color);
        border-radius: 5px;
        color: #fff;
    }
}
.main__display__ultil {
    @include fbp();
    justify-content: space-between;
}
.main__display__usages {
    display: inherit;
    align-items: center;
    gap: 2vw;
    img {
        height: 2ch;
        filter: invert(var(--img-invert));
    }
    h4 {
        margin-bottom: 0.5rem;
    }
}
.main__share {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1vw;
    padding: 0.4ch 0.8ch;
    border: 1px solid var(--font-color);
    border-radius: 0.5ch;
    h5 {
        font-weight: 500;
    }
}
.main__info {
    display: relative;
    width: 100%;
    height: 90%;
}
.fixed__add {
    position: absolute;
    bottom: 0;
    right: 0;
    /* center the child horizontally */
    margin-left: auto;
    margin-right: auto;
    /* center the child vertically */
    top: 90%;
    bottom: 90%;
    transform: translate(-90%, -90%);
    text-align: center;
    div {
        height: 50px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--background-color-900);
        border: 1px solid var(--font-color);
    }
}
.main__left__hamburger{
    display: flex;
    align-items: center;
    img{
        width: 2ch;
        filter: invert(var(--img-invert));
    }
}
.delete__customer{
    width: 100%;
    padding: 0.25em;
}
.main__delete__customer{
    .delete__customer{
        color: var(--font-color);
    }
}
.main__logout{
    text-align: center;
    padding:0.4ch;
    border: 2px solid gray;
    a{
        font-size: 1.2ch;
        color: var(--font-color);
        
    }
}
a{
    text-decoration: none;
    color: #000
}
@media (width>=1024px) {
    .main__left__hamburger{
        display: none;
    }
    .main__selector {
        display: block;
        width: 20%;
        border: 1px solid var(--font-color);
    }
    .main__display {
        width: 80%;
        border: 1px solid var(--font-color);
    }
    .main__display__ultil {
        justify-content: end;
    }
    
}