@media (width >= 768px) {
   .footer__container {
      background-color: var(--background-color-inverted);
      color: var(--font-color-inverted);
      height: 300px;
      border-top: 2px solid var(--background-color-300);
      padding: 1.25vw calc(1rem + 3vw);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
   }
   .footer__container > * {
      width: 30%;
   }
}
